<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>new selection</title>
    <%- include('../../layout/head') %>
</head>
<body>
    <%- include('../../layout/header') %>

    <main>
        <form action="/searches" method="POST">
            <fieldset>
                <label for="book" id="book_id">Enter a title or author 
                    <input type="text" id="book_id" name="search" placeholder="Enter a title or author">
                </label>
                <br>
                <label for="searchBy" id="searchBy">
                    <lable value="Title">Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="title" id="searchBy"></lable>
                    <br>
                    <lable value="Author">Author&nbsp;&nbsp;<input type="radio" name="auther" id="searchBy"></lable>
                </label>
                <br>
                <button type="submit">Search the Google Books API</button>
            </fieldset>
        </form>
    </main>

    <%- include('../../layout/footer') %>
   
    
</body>
</html>